<p>
    <a routerLink="" class="btn btn-dark">Go Back</a>
</p>

<form #f="ngForm" (ngSubmit)="save(f.value)">
  <div class="form-group">
    <label for="name">Name</label>
    <input #name="ngModel" [(ngModel)]="product.name" name="name" id="name" type="text" class="form-control" required>
    <div class="alert alert-danger" *ngIf="name.touched && name.invalid">
      Name is required.
    </div>
  </div>

  <div class="form-group">
      <label for="name">Fylke</label>
      <input #name="ngModel" [(ngModel)]="product.name" name="name" id="name" type="text" class="form-control" required>
      <div class="alert alert-danger" *ngIf="name.touched && name.invalid">
        Fylke is required.
      </div>
    </div>

    <div class="form-group">
        <label for="name">Skoler</label>
        <input #name="ngModel" [(ngModel)]="product.name" name="name" id="name" type="text" class="form-control" required>
        <div class="alert alert-danger" *ngIf="name.touched && name.invalid">
          Skoler is required.
        </div>
      </div>

      <div class="form-group">
          <label for="name">Skoleruter</label>
          <input #name="ngModel" [(ngModel)]="product.name" name="name" id="name" type="text" class="form-control" required>
          <div class="alert alert-danger" *ngIf="name.touched && name.invalid">
            Skoleruter is required.
          </div>
        </div>
  <button class="btn btn-warning">Save Product</button>
  <button (click)="delete()" type="button" class="btn btn-outline-danger" *ngIf="product.$key">Delete</button>
</form>