<div class="row justify-content-between">
    <div class="col-4">
        <h1 class="pull-left">Kommuner</h1>
    </div>
    <div class="right">
        <a routerLink="/kommuner/new" class="btn btn-dark">Ny Kommune</a>
    </div>
</div>

<p>
    <input #query (keyup)="filter(query.value)" type="text" class="form-control" placeholder="Søk etter kommune...">
</p>

<div style="overflow-x:auto;">
    <table class="table table-striped table-bordered text-center">
        <thead>
            <tr>
                <th>Kommune</th>
                <th>Fylke</th>
                <th>Skoler</th>
                <th>Skoleruter</th>
                <th>År</th>
                <th>Active</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let k of filteredKommuner">
                <td>{{ k.name }}</td>
                <td>{{ k.fylke }}</td>
                <td><a href="{{ k.skoler }}">Link</a></td>
                <td><a href="{{ k.skoleruter }}">Link</a></td>
                <td>{{ k.year }}</td>
                <td><input type="checkbox" value="k.$key" checked="checked"></td>
                <td>
                    <a [routerLink]="['/kommuner/', k.$key]"><span class="glyphicon">&#x270f;</span></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>